/* https://developer.mozilla.org/en-US/docs/Web/CSS/margin */
/* https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Web_fonts */
/* https://www.cssfontstack.com/ */
/* https://fonts.google.com/ */
body {
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
  line-height: 2;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  line-height: 0;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

.pro-span {
  text-decoration: underline;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin-top: -50px;
}

.contact-me {
  padding: 10px 0 50px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0;
}

.bottom-attribution {
  background-color: #66BFBF;
  font-size: 0.25em;
  color: white;
  padding-bottom: 20px;
}

.bottom-attribution a {
  color: white;
  text-decoration: none;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile {
  margin: 100px auto;
}

.profile-text {
  width: 50%;
  margin: 0 auto;
}
.image-me {
  width: 25%;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.skill-image-left {
  width: 25%;
  float: left;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.skill-image-right {
  width: 25%;
  float: right;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.copyright, .footer-link {
  color: white;
}

.btn {
  background-color: #66BFBF;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  margin-top: 100px;
}
