<%- include('partials/header'); %>
<div class="box" id="heading">
  <h1>About</h1>
</div>
<div class="box">
  <div class="item">
    <p>
      Lesson 289 in the Udemy course, "The Complete 2020 Web Development Bootcamp"
      by Angela Yu at the London App Brewery.
    </p>
  </div>
</div>
<%- include('partials/footer'); %>
