<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%- todolist.name() %></h1>

    <ul>
      <% todolist.forEach(task => { %>
      <li><%= task.title %></li>
      <% }); %>
    </ul>

  </body>
</html>
