<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%- todolist.name() %></h1>

    <ul>
      <li>Buy food</li>
      <li>Cook food</li>
      <li>Eat food</li>
    </ul>

  </body>
</html>
