/* https://developer.mozilla.org/en-US/docs/Web/CSS/margin */
/* https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Web_fonts */
/* https://www.cssfontstack.com/ */
/* https://fonts.google.com/ */
body {
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 0 auto;
  font-family: 'Sacramento', cursive
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.pro-span {
  text-decoration: underline;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: red;
}

.bottom-container {
  background-color: yellow;
}

.bottom-attribution {
  background-color: yellow;
  font-size: 0.25em;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
