<%- include('partials/header.ejs') %>

<h1>Compose</h1>
<form class="compose" action="/compose" method="post">
  <input type="text" name="title" placeholder="Blog Title">
  <input type="submit" value="Publish">
</form>
<%- include('partials/footer.ejs') %>
