<% if (errorMsg) { %>
<div class="row">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body" id="error">
        <p><%= errorMsg %></p>
      </div>
    </div>
  </div>
</div>
<% } %>
