# https://gist.github.com/dimkirt/873adea886c4204f74440a2a09d5b2a9
!debug.keystore
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.hmap
*.iml
*.ipa
*.jsbundle
*.keystore
*.lcov
*.log
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.pid
*.pid.lock
*.tgz
*.tsbuildinfo
*.xccheckout
*.xcuserstate
*/fastlane/Preview.html
*/fastlane/report.xml
*/fastlane/screenshots
.DS_Store
.cache
.cache/
.dynamodb/
.env
.env.test
.eslintcache
.fusebox/
.gradle
.grunt
.idea
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.tern-port
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
/ios/Pods/
/ios/Pods/*.seed
DerivedData
\.buckd/
bower_components
buck-out/
build/
build/Release
coverage
dist
dist/
jspm_packages/
lerna-debug.log*
lib-cov
local.properties
logs
node_modules/
npm-debug.log
npm-debug.log*
out
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
typings/
web_modules/
xcuserdata
yarn-debug.log*
yarn-error.log
yarn-error.log*
