<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Weather API</title>
</head>

<body>
  <h1>Weather</h1>
  <p>
    <%= msg %>
  </p>
  <p>
    Weather in <strong><%= city %></strong> is <i><%= weather %></i>.
  </p>
</body>
</html>
